.App {
    width: 400px;
    min-height: 600px;
    border: 1px solid black;
    background-color: lightsteelblue;
    margin: 20px auto;
    font-size: 30px;
}

.inputStyle {
    width: 175px;
    height: 40px;
    margin: 20px 0;

}

.inputWrapper {
    display: flex;
    justify-content: space-around;

}

.addButton {
    height: 50px;
    width: 75%;
    margin: 15px 50px;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

.header {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
input{
    font-size: 30px
}
.title {
    text-align: center;
}


